{% block stylesheets %}
    <link rel="stylesheet" href="/css/components/evenement.css">
{% endblock %}

{% block content %}
<div class="evenement-card">
    <div class="evenement-color"></div>
    <div class="evenement-info">
        <p><strong>Id :</strong> {{id}}</p>
        <p><strong>Titre :</strong> {{ titre }}</p>
        <p><strong>Description :</strong> {{ description }}</p>
        <p><strong>Prix :</strong> {{ prix }}</p>
        <p><strong>Date début :</strong> {{ dateDebut }}</p>
        <p><strong>Date fin :</strong> {{ dateFin }}</p>
    </div>
</div>
{% endblock %}
